*,
*::after,
*::before {
	box-sizing: border-box;
}

html.lenis, html.lenis body {
  height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@font-face {
  font-family: "Coconat";
  src: url("../fonts/Coconat-Regular.woff2") format("woff2");
}

:root {
	font-size: 16px;
	--color-text: #303633;
	--color-text-heading: #fff;
	--color-bg: rgb(96 111 140);
	--color-link: #0C0F0Bff;
	--color-link-hover: #fff;
	--page-padding: 1rem 2rem;

	--night: #0C0F0Bff;
	--russet: #86532Aff;
	--isabelline: #EDEBE8ff;
	--white-smoke: #F3F2F0ff;
	--timberwolf: #D4CEC8ff;

	--perspective: 0px;
	--grid-item-translate: 0px;
	--grid-item-ratio: 0.75;
	--grid-item-radius: 7px;
	--grid-gap: 4vw;
	--grid-columns: 3;
	--grid-columns-mobile: 1;
	--grid-width: 100%;
	--grid-max-width: 1200px;
}

body {
	--button-border-radius: 7px;
    --button-bg: transparent;
    --button-stroke: #d8d4cf;
    --button-stroke-width: 0px;
    --button-text: #000;
    --button-bg-hover: #000;
    --button-stroke-hover: #000;
    --button-stroke-width-hover: 0px;
    --button-text-hover: #000;
    --button-text-focus: red;
    --cursor-stroke: red;
    --cursor-fill: red;
    --cursor-stroke-width: 0px;
	--button-bg-text: #e0d9d2;
	--color-bg: #d6ccc1;

	--cursor-stroke: none;
	--cursor-fill: #c5681c;
	--cursor-stroke-width: 1px;

	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: "Onest",-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../img/noise.png), radial-gradient(circle, var(--white-smoke) 0%, var(--timberwolf) 100%);
	background-size: 150px, 100% 100vh;
	background-attachment: fixed;
}

/* Cursor effect */
.cursor {
	display: none;
	cursor: pointer;
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}

	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}

	.no-js .cursor {
		display: none;
	}

}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* Progress bar */
.progress-container {
  height: 2px;
  width: 25%;
	position: fixed;
	bottom: 2rem;
	padding-left: 2rem;

}

.progress-bar {
  background-color: var(--color-text-heading);
  height: 2px;
  width: 0%;
}

#percentageValue {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: var(--color-text-heading);
  z-index: 1001;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1500;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	opacity: 0.5;
	padding: var(--page-padding);
	text-transform: none;
	font-weight: 500;
	position: relative;
	display: grid;
	z-index: 1000;
	width: 100%;
	margin-bottom: 7vh;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	pointer-events: none;
	justify-items: start;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'title' 'archive' 'back' 'github' 'sponsor';
}

.frame #cdawrap {
  max-width: 300px;
  align-self: start;
  text-align: left;
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame__nav {
	display: flex;
	width: calc(100vw - 2rem);
	padding-right: 2rem;
	font-size: 12px;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
	margin-right: auto;
}

.frame__logo {
	width: 5rem;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__archive {
  grid-area: archive;
  justify-self: start;
}

.frame__github {
  grid-area: github;
}

.content {
	padding: var(--page-padding);
	display: grid;
	margin-bottom: 30vh;
	gap: 2rem;
	grid-template-columns: 100%;
	grid-template-areas: 'meta' 'type' 'block';
	grid-template-rows: auto 70vh auto;
}

.content--hero {
	display: flex;
	place-content: flex-end;
}

.content--hero img {
	width: 30rem;
	border-radius: 5rem;
	position: absolute;
	margin-top: -16rem;
}

.content--hero svg {
	width: 40rem;
	position: absolute;
	margin-top: -18rem;
}

.content--hero svg image {
	width: 45rem;
}

.content:last-of-type {
  padding-bottom: 50vh;
}

.meta {
	color: var(--color-text-heading);
	grid-area: meta;
	font-weight: inherit;
	margin-bottom: 5vh;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.meta::before {
	content: '\2014';
	padding-right: 0.25rem;
}

.type {
	color: var(--color-text-heading);
	grid-area: type;
	font-family: "Coconat";
	margin: 0;
	font-size: clamp(2.5rem,4.75vw,5rem);
	text-transform: none;
	line-height: 0.9;
	font-weight: normal;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.13);
}

.type__expand {
	vertical-align: top;
	display: inline-grid;
	grid-template-columns: min-content;
}

.type__expand--center {
	display: block;
}

.type__expand--full {
	display: block;
}

.type__expand--mini {
	vertical-align: middle;
	padding: 0 0.125em;
}

.type__expand--stack {
	vertical-align: bottom;
	grid-template-columns: 100%;
	justify-items: center;
}

.type__expand--stack:has(.type__expand-img:first-child) {
	vertical-align: top;
}

.type--open .type__expand {
	gap: 1.5rem;
}

.type--open .type__expand--stack {
	gap: 0.5rem;
	padding: 0 0 1rem 0;
}

.type--open .type__expand--stack:has(.type__expand-img:first-child) {
	padding: 1rem 0 0 0;
}

.type__expand-img {
	display: block;
	position: relative;
	aspect-ratio: 16/9;
	width: 0%;
	overflow: hidden;
	border-radius: 4rem;
}

.type__expand-img-inner {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.type__expand-img--center {
	justify-self: center;
	align-self: center;
}

.type__expand-img--small {
	aspect-ratio: 1;
}

.type__expand-img--tiny {
	aspect-ratio: 25/9;
}

.type__expand--reveal .type__expand-img-inner {
	width: 100vw;
	aspect-ratio: 16/9;
}

.type--open .type__expand-img {
	width: 100%;
}

.type--open .type__expand-img--small {
	width: 3.25em;
}

.type--open .type__expand-img--tiny {
	width: 2em;
}

.anim {
	display: inline-block;
  white-space: nowrap;
}

.type--open .skewed {
	transform: skewX(-20deg);
}

.type--open .rotated {
	transform: skewX(-5deg) rotateZ(-10deg);
}

.block {
	grid-area: block;
	margin: 0 0 0 0;
	max-width: 400px;
  line-height: 1.2;
	opacity: 0.6;
}

header div nav {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	gap: 1rem;
	align-items: center;
}

@media  screen and (max-width: 53em) {
	.content--hero svg {
		position: relative;
		margin-top: 0;
	}

	.frame {
		margin-bottom: 0;
	}

	.content {
		gap: 0;
		margin-top: -2.6rem;
	}

	.block {
		font-size: 0.9rem;
		line-height: 1.6;
	}

	.timer {
		flex-direction: column;
		gap: 1.5rem !important;
		padding-left: 0 !important;
		margin-bottom: 5rem;
		margin-top: -8rem;
	}
	
	.content--center_gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.content--center_gallery .type {
		align-self: center;	
	}

	.content--center_gallery svg {
		width: 3.5rem;
		fill: var(--color-text);
		opacity: .2;
	}

	.column__item-img {
		border-radius: 1rem	!important;
	}

	.modal-content {
		width: 80% !important;
		height: 80%;
	}
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto auto auto auto 1fr;
		grid-template-areas: 'title back archive github sponsor';
		margin-bottom: 40vh;
	}
	.frame #cdawrap {
	  text-align: right;
	  justify-self: end;
	}
	.content--left {
		grid-template-columns: 1fr 42%;
		grid-template-rows: auto 19vw auto;
		grid-template-areas: 'meta meta' 'type type' '... block';
	}
	.content--center {
		text-align: center;
		place-items: center;
		grid-template-rows: auto 40vw auto;
	}
	.content--center .type {
		align-self: start;
	}

	.content--center_gallery {
		display: flex;
		flex-direction: column;
	}

	.content--center_gallery .type {
		align-self: center;	
	}

	.content--center_gallery svg {
		width: 3.5rem;
		fill: var(--color-text);
		opacity: .2;
	}

	.content--right {
		grid-column-gap: 10vw;
		grid-template-columns: auto 45%;
		grid-template-areas: 'block meta' 'block type';
		grid-template-rows: auto 50vw;
		text-align: right;
		justify-content: end;
	}
	.content--right .block {
		margin-top: 40vh;
	}
	.content--justify {
		max-width: 1080px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 35vw auto;
		grid-template-areas: 'meta meta' 'type type' '... block';
	}
	.content--line {
		grid-template-rows: auto 30vw auto;
	}
	.type__expand--inline {
		gap: 0.1em;
		grid-template-columns: repeat(3,min-content);
	}
	.type__expand--reveal .type__expand-img-inner {
		width: 33vw;
	}
	.type__expand--center {
		display: inline-grid;
		gap: 0.15em;
		justify-content: center;
		grid-template-columns: auto auto auto;
	}
	.type--open .type__expand--center {
		grid-template-columns: 1fr auto 1fr;
	}
	.type__expand--full {
	  width: 100%;
		grid-template-columns: 100%;
	}
  .type__expand--full .type__expand-img {
    margin-left: auto;
  }
  .aright {
		text-align: right;
	}
}

.button {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: var(--button-stroke-width);
	border-color: var(--button-stroke);
	border-style: solid;
	color: var(--button-text);
	background: var(--button-bg);
	border-radius: var(--button-border-radius);
	min-width: 12rem;
	height: 6rem;
	padding: 0;
	margin: 1rem;
	font-family: inherit;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:focus,
.button--hover {
	outline: none;
	border-width: var(--button-stroke-width-hover);
	border-color: var(--button-stroke-hover);
	color: var(--button-text-hover);
}

.button:focus {
	color: var(--button-text-focus);
}

.button::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: rgba(0,0,0,0.3);
	filter: blur(13px);
	border-radius: var(--button-border-radius);
}

.button__text, 
.button__text-inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.button__text {
	flex: none;
	background: var(--button-bg-text);
	width: 100%;
	height: 100%;
	border-radius: var(--button-border-radius);
}

.content--gallery {
	display: grid;
	place-items: center;
	width: 100%;
	position: relative;
	padding: 0 2rem;
}

.columns {
	width: var(--grid-width);
	max-width: var(--grid-max-width);
	position: relative;
	padding: 20vh 0;
	display: grid;
	place-items: center;
  grid-template-columns: repeat(var(--grid-columns),1fr);
  gap: var(--grid-gap);
}

.column {
	width: 100%;
	position: relative;
	display: grid;
	gap: var(--grid-gap);
	grid-template-columns: 100%;
	will-change: transform;
}

.column__item {
	margin: 0;
	position: relative;
	z-index: 1;
}

.column__item-imgwrap {
	width: 100%;
	aspect-ratio: var(--grid-item-ratio);
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: var(--grid-item-radius);
}

.column__item-img {
	position: absolute;
	top: calc(-1 * var(--grid-item-translate));
	left: calc(-1 * var(--grid-item-translate));
	height: calc(100% + var(--grid-item-translate) * 2);
	width: calc(100% + var(--grid-item-translate) * 2);
	background-size: cover;
	background-position: 50% 20%;
	backface-visibility: hidden;
	border-radius: 2rem;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.timer {
	font-family: "Coconut", Helvetica, sans-serif;
	display: flex;
	gap: 4rem;
	padding-left: 5rem;
}

.timer ruby {
	font-size: clamp(2.5rem,8.75vw,5rem);
}

ruby {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
rt {
	display: block;
	font-size: 12px;
	color: #616161;
}

#scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
	scale: .6;
	transition: all 0.3s ease;
}

#scrollTopButton svg, path, polygon {
	stroke: #fff;
	transition: all 0.3s ease;
}

#scrollTopButton:hover {
	scale: 0.8;
	transition: all 0.3s ease;
}


/* style.css */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/noise.png), radial-gradient(circle, #33415c 0%, #001233 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 2.5s ease; /* Transição suave para mudanças de cor de fundo */
	z-index: 1001;
}

.modal-content {
	padding: 20px;
	width: 50%;
	height: 50%;
	overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura máxima */
}

.modal-header, .modal-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px; /* Espaçamento entre header, main e footer */
}

#close-btn {
	cursor: pointer;
}


/* ------------ */